// Base typography styles

html {
    font-size: 10px;
}

body {
    font-family: $base-font-family;
    font-size: 1.6rem;

}

.title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: $base-line-height;
    margin-top: 0;
    margin-bottom: $base-line-height;
}

.subtitle {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: $base-line-height;
    margin-top: 0;
    margin-bottom: $base-line-height;
}

.text-highlighted {
    
}